//Lottery
.lottery
    h2.lottery_h2.
        Получи шанс выиграть 1 из 9 сертификатов:
    .lottery_stock.
        - 20% на все услуги. Гарантированнo для каждого участника
    .lottery_container
        .lottery_item
            img.lottery_img(src="./img/lottery_first.png" alt="photo")
            p.lottery_place.
                1 место
            p.lottery_text.
                <span class="lottery_accent">1</span> подарочный<br> сертификат на <strong>50000р</strong>
        .lottery_item
            img.lottery_img(src="./img/lottery_second.png" alt="photo")
            p.lottery_place.
                2 место
            p.lottery_text.
                <span class="lottery_accent">2</span> сертификата на<br> лечение волос "гидропластика"
        .lottery_item
            img.lottery_img(src="./img/lottery_third.png" alt="photo")
            p.lottery_place.
                3 место
            p.lottery_text.
                <span class="lottery_accent">5</span> сертификатов<br> маникюр + покрытие гель лак
        .lottery_discount
            p.lottery_numeric.
                - 20%
            p.lottery_describe.
                на все услуги
            p.lottery_garant.
                Гарантированно
            p.lottery_every.
                для каждого участника


