//review
.review
    .container.review_container
        .review_stars
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
        p.review_text.
            О моем трепетном отношении и бесконечной любви к волосам говорить думаю не стоит, итак все понятно) Сегодня попробовала новую процедуру сказать что осталась в восторге- ничего не сказать)<br>
            Гидропластика для волос- глубокое питание и увлажнение волоса изнутри, я своими глазами сегодня увидела двух девушек (одна из них красит волосы в блонд), которые отрастили волосы с помощью этой процедуры!<br>
            В общем с чистой душой рекомендую, теперь в топе любимых процедур<br>  Делала в чудесном салоне, в центре Москвы, где у входа встречают огромные зайчики. Спасибо за красивые волосики, прекрасную атмосферу и отличное
            настроение @bvd.beauty <3
        .review_signature
            .review_sign-wrapp
                img.review_img(src="./img/review_first.png" alt='photo')
                p.review_text.review_text__sign.
                    Отзыв от @madinatamova

