// Colors
$accent: #aee3ff;
$timerColor: rgba(174, 227, 255, 0.75);
$headerAccent: #4e083d;
$headerFont: #1a191a;
$mainColor: #191919;
$colorForm:  #54044b;
$lightColor: #ffffff;
$bgColor: rgba(200, 224, 237, 0.09);;
$placeColor: #280a21;
$lotteryAccent: #380332;
$lotteryMain: #000000;
$joinBg: #fdfdfd;