.lottery {
  min-width: 30rem;
  margin-top: -17rem;
  padding-bottom: 9.8rem;
  @media (max-width: 89.5rem) {
    margin-top: 0;
  }
  &_h2 {
    @media (max-width: 89.5rem) {
     padding: 3rem 0;
    }
  }

  &_container {
    margin: 0 auto;
    position: relative;
    @include display-flex (row,
            space-between,
            center);
    max-width: 106rem;
        @media (max-width: 655px) {
      @include display-flex (column,
              space-between,
              center);
    }
  }
  &_item {
    @include display-flex (column,
            flex-start,
            center);
    box-shadow: 0.3rem 0.5rem 1.5rem .1rem rgba(0, 0, 1, 0.07);
    height: 38.3rem;
    width: 30rem;
    padding-top: 4.3rem;
    background: $lightColor;
    @include transition(0.6s);
    @media (max-width: 655px) {
      width: 80%;
      min-width: 30rem;
      margin-top: 2%;
    }
  }
  &_img {
    padding-bottom: 2.2rem;
  }
  &_place {
    padding-bottom: 3.7rem;
    color: $placeColor;
    font-size: 2rem;
    font-weight: 700;
  }
  &_text {
    color:  $lotteryMain;
    line-height: 2.5rem;
  }
  &_accent {
    color:  $lotteryAccent;
    font-weight: 700;
  }

  &_discount {
    border-radius: 50%;
    background-color:  $colorForm;
    background-image: -webkit-radial-gradient(circle cover, rgba(52, 2, 46, .41), rgba(52, 2, 46, .01));
    background-blend-mode: multiply;
    box-shadow: 3px 5px 14.88px 1.12px rgba(0, 0, 1, 0.07);
    width: 21.2rem;
    height: 21.2rem;
    position: absolute;
    bottom: -13.5rem;
    right: -14rem;
    color:  $lightColor;
    text-align: center;
    padding-top: 4.2rem;
    @include transition(0.4s);
    @media (max-width: 1625px) {
      display: none;
    }
  }
  &_stock {
    padding: 3rem;
    background-color:  $colorForm;
    background-image: -webkit-radial-gradient(circle cover, rgba(52, 2, 46, .41), rgba(52, 2, 46, .01));
    background-blend-mode: multiply;
    box-shadow: 3px 5px 14.88px 1.12px rgba(0, 0, 1, 0.07);
    color: $lightColor;
    font-size: 2rem;
    visibility: hidden;
    width: 0;
    height: 0;
    @include transition(1s);
    @include display-flex (row,
            space-around,
            center);
    @media (max-width: 1625px) {
      visibility: visible;
      width: 100%;
      height: auto;
    }
    @media (max-width: 89.5rem) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  &_numeric {
    font-size: 4rem;
    font-weight: 500;
  }
  &_garant {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1.6rem;
  }
  &_every {
    font-size: 1.6rem;
  }

}